<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lovezhangli.generate.generatedemo.demo.dao.DiscountProvinceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.lovezhangli.generate.generatedemo.demo.entity.DiscountProvince">
        <id column="id" property="id" />
        <result column="card_id" property="cardId" />
        <result column="area" property="area" />
        <result column="discount" property="discount" />
        <result column="discount_unit" property="discountUnit" />
        <result column="discount_condition" property="discountCondition" />
        <result column="sort_no" property="sortNo" />
        <result column="status" property="status" />
        <result column="create_id" property="createId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="updator" property="updator" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>